body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;

  background-color: white;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.site-navigation li:hover{
  color: #82b3d3
}

.site-navigation li:active{
  color: #f2f2f2
}


.site-navigation img {
  margin-top: -20px;
  width: 138px;
  position: relative;
  z-index: 10;
}

.extra-info {
  text-align: center;
  height: 500px;
  margin-bottom: 200px;
  position: relative;
}

.with-background {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  padding-top: 50px;
  align-items: center;
  margin-top: -30px;
  background:
  url("img/Shape.png") no-repeat 100% 100%,
  url("img/background.jpg") no-repeat 100% -100px;
  margin-bottom: 30px;
}

.with-background img:nth-child(3) {
  padding-bottom: 50px;
}

.with-background img:last-child {
  padding-top: 90px;
  padding-bottom: 80px;
}

.main-reason {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
  height: 255px;
}

.main-reason-text {
  display: flex;
  flex-direction: column;
  justify-content: space-aroud;
  width: 400px;
  margin: 0;
  padding: 40px;
  align-items: center;
  text-align: center;
  height: 255px;
}

.feature-item {
  height: 360px;
}
.feachers-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 40px;
}

.feachers-item-first {
  margin-top: 50px;
  padding-top: 120px;
  background: url("img/icon-1.svg") top center no-repeat;
}

.feachers-item-second {
  margin-top: 50px;
  padding-top: 120px;
  background: url("img/icon-2.svg") top center no-repeat;
}

.feachers-item-third {
  margin-top: 50px;
  padding-top: 120px;
  background: url("img/icon-3.svg") top center no-repeat;
}

.small-reason {
  background-color: #f2f2f2;
  height: 206px;
  text-align: middle;

  padding-top: 50px;
  margin-bottom: 50px;
}

.question {
  font-size: 22px;
  margin-bottom: 30px;
}

.button-find {
  display: inline-block;
  height: 66px;
  width: 568px;
  margin-top: 10px;
  background-color: #766257;
  color: white;
  line-height: 66px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.modal {
  position: absolute;
  top: 185px;
  left: 315px;
  z-index: 10;
  width: 568px;
  height: 395px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  padding-top: 55px;
}

.modal p {
  text-align: left;
  padding-left: 55px;
}

.modal input[type="date"] {
  font: inherit;
  display: inline-block;
  box-sizing: border-box;
  width: 310px;
  padding: 5px 30px 5px 5px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 5px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("img/calendar.png");
  background-repeat: no-repeat;
  background-position: 280px center;
}

.modal input[type="number"] {
  font: inherit;
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  padding: 5px 30px 5px 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  border: none;
  background-color: #f2f2f2;
}

.button-search {
  display: block;
  border: none;
  background-color: #81b2d2;
  width: 460px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  margin-top: 100px;
  color: white;
  font-size: 18px;
  font-family: inherit;
  text-transform: uppercase;
}

.button-find:hover {
  background-color: #604e44;
}

.button-find:active  {
  background-color: #503e34;
}

.main-footer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  padding: 0;
  margin: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b2d2;
  width: 33px;
  height: 33px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.social-button:hover {
  background-color: #669ec1;
}

.social-button:active {
  background-color: #5596be;
}

.filters {
  background: #74a0c3 url("img/filterbackground.png") no-repeat 0 -50px;
  margin-top: -30px;
}

.results {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  height: 85px;
  width: 1200px;
  align-items: baseline;
}

.results h3 {
  font-size: 21px;
  padding-left: 60px;
  margin-right: 35px;
}

.results-class {
  display: flex;
  color: #f2f2f2;
}

.results-class a {
  padding-right: 25px;
  color: #c9c9c9;
}

.results-class a:hover,
.choosen a {
  color: #82b3d3;
}

.results-class a:active {
  color: black;
}

.catalog-list {
  flex-direction: column;
}

.catalog-item {
  display: flex;
  height: 150px;
  width: 1200px;
  margin-left: -35px;
  position: relative;
  border: 1px solid #cacaca;
  margin-top: -1px;
}

.review {
  position: absolute;
  bottom: 25px;
  right: 80px;
  background-color: #f2f2f2;
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

.review-one::before {
  content:"";
  background: url("img/star.svg") repeat 0% 50%;
  width: 72px;
  height: 17px;
  position: absolute;
  bottom: 70px;
  right: 0px;
}

.review-two::before {
  content:"";
  background: url("img/star.svg") repeat 0% 50%;
  width: 54px;
  height: 17px;
  position: absolute;
  bottom: 70px;
  right: 0px;
}

.review-three::before {
  content:"";
  background: url("img/star.svg") repeat 0% 50%;
  width: 35px;
  height: 17px;
  position: absolute;
  bottom: 70px;
  right: 0px;
}


.catalog-item img {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-left: 60px;
}

.catalog-item h3 {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-top: 25px;
  font-size: 21px;
}

.catalog-item h3:hover {
  color: #82b3d3;
}

.catalog-item h3:active {
  color: #f2f2f2;
}

.block {
  position: absolute;
  margin-left: 5px;
  margin-top: 10px;
  padding: 0;

}

.block-left {
  left: 200px;
  top: 50px;

}

.block-right {
  left: 330px;
  top: 50px;

}

.button {
  display: block;
  margin-top: 9px;
  width: 120px;
  height: 30px;
  color: white;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;

}

.button-left {
  background-color: #82b3d3;
}

.button-left:hover {
  background-color: #669ebf;
}

.button-left:active {
  background-color: #5596be;
}

.button-right {
  background-color: #766257;
}

.button-right:hover {
  background-color: #604e44;
}

.button-right:active {
  background-color: #503e34;
}
