body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;

  background-color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.site-navigation {
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}

.site-navigation img {
  margin-top: -20px;
  width: 138px;
}

.extra-info {
  text-align: center;
  height: 500px;
  margin-bottom: 55px;
}

.with-background {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  padding-top: 50px;
  align-items: center;
  margin-top: -30px;
  background:
  url("img/Shape.png") no-repeat 100% 100%,
  url("img/background.jpg") no-repeat 100% -100px;

}

.with-background img:nth-child(3) {
  padding-bottom: 50px;
}

.with-background img:last-child {
  padding-top: 90px;
  padding-bottom: 80px;
}
